<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD23iP8Tg07OzRCaTtU3WFe8GNs6SzXMA4</string>
	<key>GCM_SENDER_ID</key>
	<string>116927177220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netix.stajProjectt</string>
	<key>PROJECT_ID</key>
	<string>secim-ozel</string>
	<key>STORAGE_BUCKET</key>
	<string>secim-ozel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116927177220:ios:0f36958feac5e150248b51</string>
</dict>
</plist>